<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
</head>
<body>
    <h1>Need to make an edit?</h1>
    <form action='/books/<%= book.id %>?_method=PUT' method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title"  value="<%= book.title %>" required>
        </div>
        <div>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" value="<%= book.author %>" required>
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" value="<%= book.genre %>" required>
        </div>
        <div>
            <label for="releaseDate">Release Date:</label>
            <input type="Date" id="releaseDate" name="releaseDate" value="<%= book.releaseDate %>" required>
            <!-- To Autopopulate: NEED to include value="<%= Model.field %>"-->
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="text" id="image" name="image" value="<%= book.image %>" required>
        </div>
        <div>
            <label for="haveRead">Read the book?</label>
            <input type="checkbox" id="haveRead" name="haveRead" value="<%= book.haveRead %>">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>