<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show me the Book...</h1>
    <h2><%= book.title %></h2>
    <img src="<%= book.image %>">
    <ul>
        <li>Author: <%= book.author %></li>
        <li>Genre: <%= book.genre %></li>
        <li>Released: <%= book.releaseDate %></li>
    </ul>
</body>
</html>