<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Show Page</title>
</head>
<body>
    <a href="/books/<%= book._id %>/edit"> Edit <%= book.title %></a>
    <a href="/books">Back to Books</a>
    <h1>Show me the Book...</h1>
    <h2><%= book.title %></h2>
    <img src="<%= book.image %>">
    <ul>
        <li>Author: <%= book.author %></li>
        <li>Genre: <%= book.genre %></li>
        <li>Released: <%= book.releaseDate %></li>
        <li>Read the book? <% if(book.haveRead){ %>
            <p>Yep!</p>
        <% }else{%>
            <p>Not yet...</p>
        <% } %>
        </li>
    </ul>
    <div>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE BOOK</button>
        </form>
    </div>
  </body>
</html>